{% extends 'default/layout.html.twig' %}



{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="index.php">Home</a>
                    <span>Connexion</span>
                </div>

                <div class="col-md-4"></div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Connexion</h2>
                            <form  role="form" class="form-signin" method="POST" action="">
                                <div class="contact-form">
                                    <input type="email" class="email" placeholder="email" name="mail" required>
                                    <input type="password" class="message" placeholder="mot de passe" name="mdp" required>
                                    <a href="mdpOublie.php">Mot de passe oublié</a>
                                    <input type="submit" value="Se connecter " name="Connexion">
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <div class="col-md-4"></div>

                <br><br><br><br>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}
