{% extends 'default/layout.html.twig' %}

{% block content %}
<main class="main-content">
        <div class="container">
            <div class="page">
                <h1> Hello {{ app.user.firstname }}
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}