{% extends 'default/layout.html.twig' %}

{% block content %}

    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="index.php">Home</a>
                    <span>Inscription</span>
                </div>

                <div class="col-md-4"></div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2>Ajouter un film</h2>
                            {{ form(form) }}

                        </div>

                        <div class="col-md-4"></div>

                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </main>

{% endblock %}
